{% set formGlobalSpacing = 32 %}

/* Form */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity:1;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity:1;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity:1;
}
:-moz-placeholder { /* Firefox 18- */
  opacity:1;
}

form {
}

.hs-form-field {
  margin-bottom:{{ formGlobalSpacing }}px;
}

/* Labels */

form label {
  color: var(--c-black);
  display: block;
  font-size: 18px;
  font-weight:700;
  padding-top: 0;
  margin-bottom: 0.35rem;
  text-align: left;
  width: auto;
}
.hidden-labels .hs-fieldtype-select label,
.hidden-labels .hs-fieldtype-text label,
.hidden-labels .hs-fieldtype-textarea label {
  display:none;
}

/* Help text - legends */

form legend {
  color: var(--c-black);
  font-size: 18px;
}

/* Inputs */

.input {
  position: relative;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number],
input[type=file],
select,
textarea {
  background-color:var(--c-white);
  border:none;
  border-radius: 100px;
  color:var(--c-black);
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
  padding:21px 30px;
  width: 100%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=file]:focus,
select:focus,
textarea:focus {
  outline:none;
}

fieldset {
  max-width: 100% !important;
}
fieldset.form-columns-2,
fieldset.form-columns-3 {
  display:flex;
}
fieldset .hs-form-field {
  width:100%!important;
  float:none!important;
}
fieldset .hs-form-field + .hs-form-field {
  margin-left:{{ formGlobalSpacing }}px;
}

/* Inputs - checkbox/radio */

form .inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inputs-list > li {
  display: block;
  margin: 0.7rem 0;
  padding: 0;
  width: 100%;
}

.inputs-list input,
.inputs-list span {
  font-size: 16px;
  font-weight:500;
  vertical-align: middle;
}

.hs-input[type=checkbox],
.hs-input[type=radio] {
  border: none;
  cursor: pointer;
  height: auto;
  line-height: normal;
  margin-right: 0.35rem;
  padding: 0;
  width: auto;
}

/* Inputs - datepicker */

.hs-fieldtype-date .input .hs-dateinput:before {
  color: var(--c-black);
  content:'\01F4C5';
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fn-date-picker .pika-table thead th {
  color: #FFF;
}

.fn-date-picker td.is-today .pika-button {
  color: var(--c-black);
}

.fn-date-picker td.is-selected .pika-button {
  background: var(--c-black);
  border-radius: 0;
  box-shadow: none;
}

.fn-date-picker td .pika-button:hover {
  background-color: var(--c-black)!important;
  border-radius: 0 !important;
  color: {{ colors.white }};
}

/* Inputs - file picker */

input[type=file] {
  background-color: transparent;
  border: initial;
  box-shadow: none;
  line-height: initial;
  padding: initial;
}

/* Headings and text */

form .hs-richtext,
form .hs-richtext p {
  font-size: 18px;
  margin: 0 0 1.4rem;
}

form .hs-richtext img {
  max-width: 100% !important;
}

form .header {
  background-color: transparent;
  border: none;
}

/* GDPR */

.legal-consent-container .hs-form-booleancheckbox-display > span,
.legal-consent-container .hs-form-booleancheckbox-display > span p {
  font-size: 18px;
  margin-left: {{ formGlobalSpacing / 3 }}px;
}

/* Validation */

.hs-form-required {
  color: red;
}

.hs-input.invalid.error {
  border-color: #EF6B51;
  box-shadow:inset 0 0 10px #ef6b51;
}

.hs-error-msg,
.hs-error-msgs {
  color: #EF6B51;
  margin-top:{{ formGlobalSpacing / 2 }}px;
}

/* Submit button */

form input[type=submit],
form .hs-button {
  border:none;
  border-radius:0;
  background-color: var(--c-black);
  color: var(--c-white);
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.01em;
  line-height: 1;
  margin: 0;
  padding: 15px 30px;
  position: relative;
  text-align: center;
{# default "Get Free Widget" form (renders when no form is passed to the form HubL tag) is an anchor (a.hs-button) rather than a real input, so it needs explcit css to avoid link styling #}
  text-decoration: none;
  transition: all 0.2s linear;
  white-space: normal;
  width: auto;
  word-break: break-word;
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:hover,
form .hs-button:focus {
  background-color:var(--c-black);
{# see "no form selected" note above #}
  color: var(--c-white);
}

form input[type=submit]:active,
form .hs-button:active {
  background-color:var(--c-black);
{# see "no form selected" note above #}
  color:var(--c-white);
}

/* Captcha */
.grecaptcha-badge {
  margin: 0 auto;
}

/* Form - Dark */
.form-dark input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#FFF;
}
.form-dark input::-moz-placeholder { /* Firefox 19+ */
  color:#FFF;
}
.form-dark input:-ms-input-placeholder { /* IE 10+ */
  color:#FFF;
}
.form-dark input:-moz-placeholder { /* Firefox 18- */
  color:#FFF;
}
.form-dark input[type=text],
.form-dark input[type=email],
.form-dark input[type=password],
.form-dark input[type=tel],
.form-dark input[type=number],
.form-dark input[type=file],
.form-dark select,
.form-dark textarea {
  background-color:var(--c-black);
  color:var(--c-white);
}
.form-dark .hs-button {
  background-color:var(--c-white);
  color:var(--c-black);
}

/* Single Line Form */
.single-line-form form {
  display:flex;
  justify-content:center;
}
.single-line-form .hs-form-field {
  flex-grow:1;
  margin-right:-30px;
}
.single-line-form label {
  display:none;
}

.single-line-form .hs-error-msgs {
  display:none!important;
}
@media only screen and (max-width:768px) {
  .single-line-form .hs-button {
    font-size:16px;
  }
}
@media only screen and (max-width:767px) {
  .single-line-form form {
    display:block;
  }
}
